<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstonedesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneDesign"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".DateChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>

        </receiver>
        <activity
            android:name=".NaverWebview"
            android:exported="true" />
        <activity
            android:name=".KakaoWebview"
            android:exported="true" />
        <activity
            android:name=".QuestionActivity"
            android:exported="true" />
        <activity
            android:name=".NoticeActivity"
            android:exported="true" />
        <activity
            android:name=".InformationActivity"
            android:exported="true" />
        <activity
            android:name=".imageActivity"
            android:exported="true" />
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity android:name=".CFriendListActivity" />
        <activity android:name=".Password" />
        <activity android:name=".Email" />
        <activity android:name=".Register" />
        <activity android:name=".Home"
            android:exported="true" />
        <activity android:name=".Login" />
        <activity android:name=".Logout" />
        <activity android:name=".Delete" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>